<a href="https://colab.research.google.com/github/asadyousuf-dare/Thesis-work/blob/main/ann_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%cd /content/drive/MyDrive/ANN_data

/content/drive/MyDrive/ANN_data

In [2]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sn
import matplotlib.pyplot as plt
from numpy import percentile
from scipy.stats import spearmanr
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from scipy.stats import kendalltau
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
train_input=pd.read_excel('/content/drive/MyDrive/ANN_data/LearningVariables.xlsx',sheet_name='X_tr')
train_output=pd.read_excel('LearningY.xlsx',sheet_name='X_tr')
test_input=pd.read_excel('LearningVariables.xlsx',sheet_name='X_cv')
test_output=pd.read_excel('LearningY.xlsx',sheet_name='X_cv')

In [4]:
train_data=pd.concat([train_input, train_output], axis=1)
test_data=pd.concat([test_input, test_output], axis=1)

In [5]:
train_data.describe()

,fc20,fy20,cover,depth,area,MR
count,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000
mean,47.500000,550.000000,0.046000,0.22000,0.000325,30446.721576
std,18.768574,259.872565,0.011550,0.04620,0.000130,21724.283119
min,15.016250,100.225000,0.026010,0.14004,0.000100,1711.026896
25%,31.258125,325.112500,0.036005,0.18002,0.000213,13627.997255
50%,47.500000,550.000000,0.046000,0.22000,0.000325,24974.084774
75%,63.741875,774.887500,0.055995,0.25998,0.000437,42073.281317
max,79.983750,999.775000,0.065990,0.29996,0.000550,120039.686055

In [6]:
test_data.describe()

,fc20,fy20,cover,depth,area,MR
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,47.500000,550.000000,0.046000,0.220000,0.000325,30464.458575
std,18.787324,260.132178,0.011561,0.046246,0.000130,21686.007869
min,15.081250,101.125000,0.026050,0.140200,0.000101,1598.289580
25%,31.290625,325.562500,0.036025,0.180100,0.000213,13691.639381
50%,47.500000,550.000000,0.046000,0.220000,0.000325,24672.182000
75%,63.709375,774.437500,0.055975,0.259900,0.000437,42821.698241
max,79.918750,998.875000,0.065950,0.299800,0.000549,123983.604146

In [7]:
print("Shape of features train data",train_input.shape)
print("Shape of Prediction or Y train data",train_output.shape)
print("Shape of features test data",test_input.shape)
print("Shape of Prediction or Y test data",test_output.shape)

Shape of features train data (2000, 5)
Shape of Prediction or Y train data (2000, 1)
Shape of features test data (400, 5)
Shape of Prediction or Y test data (400, 1)

In [11]:
X_train=train_input.values
Y_train=train_output.values/1000
X_test=test_input.values
Y_test=test_output.values/1000

In [10]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

neural network

In [12]:
from sklearn.neural_network  import MLPRegressor

In [17]:
MLP_regressor = MLPRegressor(max_iter=10000)
MLP_regressor.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:1599: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MLPRegressor(max_iter=10000)

In [18]:
Y_pred=MLP_regressor.predict(X_test)

In [19]:
# Metrics
R_square=r2_score(Y_test,Y_pred)
rmse=np.sqrt(mean_squared_error(Y_pred,Y_test))
mae=mean_absolute_error(Y_pred,Y_test)

In [20]:
print("The computed root mean squared error is = ",rmse)
print("The computed mean absolute error is = ",mae)
print("The r2 measure for the model is = ",R_square)

The computed root mean squared error is =  16.78412827136639
The computed mean absolute error is =  12.510000970725187
The r2 measure for the model is =  0.39948279657871866